/Dissertation/tex/LannyDissertation.blg
/Dissertation/tex/LannyDissertation.lof
/Dissertation/tex/LannyDissertation.log
/Dissertation/tex/LannyDissertation.out
/Dissertation/tex/LannyDissertation.pdf
/Dissertation/tex/LannyDissertation.toc
/Dissertation/tex/LannyDissertation.aux
/Dissertation/tex/LannyDissertation.bbl
